<% include ./partials/header %>
<% include ./partials/menu %>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Drink Page</title>
	<link rel='icon' href='../resources/img/drinksta.jpg' type='image/x-icon'/>
    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">  
	<link href="../resources/css/home_page.css" rel="stylesheet">
  </head>
  <body>
	<div class="container">
		<p>
			<form action="/search/get_drink" method="get">
				<h1 class="h3 mb-3 font-weight-normal">Drink Lookup</h1>
				<input type="text" id="drinkSearch" name="drinkname" class="form-control" autofocus>
				<input type="submit" value="Search" class="btn-lg btn-secondary col-sm-2" id="drinkSearchButton">
			</form>
		</p>

		
		<% 
		if(drink) {
			%>
		<div class="card text-white bg-dark mb-3">
			<div class="card-body">
					<div class="row">
						<div class="col-4">
							<div class="card text-white bg-dark mb-3">
								<% 
								var image_src = '';
								var drink_name = '';
								var drink_ID = '';
								if(drink){ 
									image_src = drink.img_src;
									drink_name = drink.name;
									description = drink.description;
									drink_ID = drink.id;
								} 
								%>
								<img class="card-img-top rounded" id="drink_img" src="<%-image_src %>" alt="A picture of <%-drink_name %>">
							</div>
						</div>
						<div class="col-8">
							<div class="card text-white bg-dark mb-3">
								<div class="card-header"><%- drink_name %></div>
								<div class="card-body">
									<table class="table table-dark">
										<thead>
											<tr>
												<th scope="col">Ingredients:</th>
											</tr>
										</thead>
										<tbody>
										<% 
											if(drink) { 
												var rows = '';
												drink.ingredients.forEach(function(item){
														rows += '<tr><td>'+ item + '</td></tr>'
													}); %>
													<%- rows %> 
											<% } %>
										</tbody>
									</table>

									<p class="card-text"><%-description%></p>
								</div>
							</div>
							<% 
							if(login == true) {
							%>
							<div class="card text-white bg-dark mb-3">
								<div class="card-body">
									<p>
										<form action="/search/favorite" method="post">
											<input type="hidden" id="favname" name="favname" class="form-control" value= <%-drink_ID%>>
											<input type="submit" value="Add to Favorites?" class="btn-lg btn-secondary" id="drinkSearchButton">
										</form>
									</p>
								</div>
							</div>
							<% }%>
						</div>
					</div>
			</div>
		</div>
		<% }%>
  </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<script src="../resources/js/my_scripts.js"></script>
	</body>
</html>